.asideBlockPopularIn ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.asideBlockPopularIn ul li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffd4d4;
}

.asideBlockPopularIn ul li a {
    color: #0171bb;
}

.asideBlockPopularIn ul li a:hover {
    color: #777777;
}

.asideBlockPopularIn ul li a i {
    color: #e03131;
}