.social {
    margin:0;
}
.social .social-title {
    float: left;
    color: #0a0a0a;
    margin-right: 10px;
    margin-top: 3px;
}

.social a {
    text-align: center;
    width: 40px;
    float: left;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    margin: 0 2px 2px 0;
    padding: 1px;
    color: #fff !important;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.social a:hover {
    opacity: 0.5;
    color: #000;
}

a.google {
    background: #DD4B39;
}

a.github {
    background: #191919;
}

a.youtube {
    background: #c4302b;
}

a.twitter {
    background: #00acee;
}

a.instagram {
    background: #3f729b;
}

a.facebook {
    background: #3b5998;
}

a.skype {
    background: #00aff0;
}

a.vk {
    background: #5d84ae;
}

a.odnoklassniki {
    background: #f93;
}

a.pinterest {
    background: #c8232c;
}

a.linkedin {
    background: #0e76a8;
}

a.telegram {
    background: #249bd7;
}

a.tumblr {
    background: #34526f;
}

a.windows {
    background: #125acd;
}

a.whatsapp {
    background: #50b154;
}

a.weibo {
    background: #d52b2b;
}

a.dropbox {
    background: #1087dd;
}

i.icon-mailru{
    background-image: url("icons/mail-icon.png");
    display: inline-block;
    width: 20px;
    height: 20px;
}
a.mailru {
    background: #168de2;
    height: 26px;
    overflow: hidden;
}