


.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input
{
    position: absolute;
    opacity: 0;
}

.css-treeview
{
    font: normal 14px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a
{
    text-decoration: none;
}

.css-treeview li
{
    overflow: visible;
}

.css-treeview li a
{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.css-treeview a:hover
{
    text-decoration: underline;
}

.css-treeview input + label + ul
{
    margin: 0 0 0 10px;
}

.css-treeview input ~ ul
{
    display: none;
}

.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
}

.css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview label,
.css-treeview label::before
{
    content: "";
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    vertical-align: middle;
    margin: 0;
}

.css-treeview label
{
   position: relative;
}

.css-treeview label.has-sub-categories::before
{
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0 0 0 0;
    vertical-align: middle;
    content: "\f114";
    position: absolute;
    left:-20px;;
}

.css-treeview input:checked + label.has-sub-categories::before
{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f115";
    color: #ccc;
    position: absolute;
    left:-20px;
}


.asideBlockCatsIn {
    margin-bottom: 20px;

    font-family: BebasBold, Arial, Georgia, serif;
}

.asideBlockCatsIn:last-child {
    margin-bottom: 0;
}

.asideBlockCatsHeader {
    font-weight: bold;
    color: #0171bb;
    font-size: 20px;
    margin-bottom: 10px;

    list-style: none;
}

.asideBlockCats,
.asideBlockPopular {
    margin-bottom: 30px;
}

.asideBlockCats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.asideBlockCats ul li {
    margin: 8px 0;
}

.asideBlockCats ul li.catChild label a {
    position: relative;
    padding-left: 14px;
    color: #777777;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

    font-family: BebasBold, Arial, Georgia, serif;
}

.asideBlockCats ul li label a:hover {
    color: #1ea6ff !important;
    text-decoration: none;
}

.asideBlockCats ul li a::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    font-size: 7px;
}

.asideBlockCatsHeader  a {
    font-weight: bold;
    color: #0171bb;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;

    font-family: BebasBold, Arial, Georgia, serif;
}

.asideBlockCatsIn small {
    font-size:12px;
}



/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}


