
.asideBlockTagsIn a {
    font-weight: bold;
}

.tags-widget a.tags-widget-tag:hover {
    color: #28a7cf;
    text-decoration: underline;
}

.tags-widget a.tags-widget-tag {
    font-size: 16px;
    color: #727a90;
    line-height: 24px;

    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}